<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.wanxi.dao.technologysharing.BlogCommentMapper">

    <!--    &lt;!&ndash; 开启二级缓存 &ndash;&gt;-->
    <!--    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cn.wanxi.entity.technologysharing.BlogCommentEntity">
        <id column="id" property="id"/>
        <result column="u_id" property="uId"/>
        <result column="blog_id" property="blogId"/>
        <result column="comment" property="comment"/>
        <result column="create_time" property="createTime"/>
        <result column="status" property="status"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, u_id, blog_id, comment, create_time, status
    </sql>

    <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM wx_tab_blog_comment
        WHERE id = #{id} and status=1 or status=0
    </select>

    <update id="deleteById" parameterType="java.lang.Integer">
       update
            wx_tab_blog_comment
        set status=9
       WHERE
            id=#{id} and status=1 or status=0
    </update>

    <insert id="insert" parameterType="com.cn.wanxi.entity.technologysharing.BlogCommentEntity">
       INSERT INTO
       		wx_tab_blog_comment
       		(u_id, blog_id, comment, create_time,status)
       	VALUES
       		(#{uId},#{blogId}, #{comment},#{createTime},0)
    </insert>

    <select id="findByWrapper" parameterType="com.cn.wanxi.entity.technologysharing.BlogCommentEntity"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from wx_tab_blog_comment
        <where>
            1=1
            <if test="blogId!=null">and blog_id=#{blogId}</if>
            <if test="createTime!=null">and create_time=#{createTime}</if>
            <if test="status!=null">and status=#{status}</if>
            <if test="status==null">and status=0 or status=1</if>
        </where>
    </select>

    <update id="updateById" parameterType="com.cn.wanxi.entity.technologysharing.BlogCommentEntity">
        update wx_tab_blog_comment
        <set>
            <if test="status!=null">status=#{status}</if>
        </set>
        where id=#{id}
        <if test="status==null"> and status=0 or status=1</if>
    </update>
</mapper>
