<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.wanxi.dao.technologysharing.BlogNoticeMapper">

<!--    &lt;!&ndash; 开启二级缓存 &ndash;&gt;-->
<!--    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cn.wanxi.entity.technologysharing.BlogNoticeEntity">
        <id column="id" property="id" />
        <result column="slave_id" property="slaveId" />
        <result column="master_id" property="masterId" />
        <result column="time" property="time" />
        <result column="is_look" property="isLook" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, slave_id, master_id, `time`, is_look
    </sql>

    <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM wx_tab_blog_notice
        WHERE slave_id = #{slave_id}
    </select>

    <update id="deleteById" parameterType="java.lang.Integer">
       update
            wx_tab_care
        set
            status=9
       WHERE
            id=#{id} and status=1
    </update>

    <insert id="insert" parameterType="com.cn.wanxi.entity.technologysharing.TagEntity">
       INSERT INTO
       		wx_tab_tag
       		(name,create_time,last_update_time,status,quote)
       	VALUES
       		(#{name},#{createTime}, #{lastUpdateTime},0,#{quote})
    </insert>

    <select id="findByWrapper" parameterType="com.cn.wanxi.entity.technologysharing.TagEntity"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from wx_tab_tag
        <where>
            1=1
            <if test="name!=null">and name=#{name}</if>
            <if test="create_time!=null">and create_time=#{create_time}</if>
            <if test="last_update_time!=null">and last_update_time=#{last_update_time}</if>
            <if test="quote!=null">and quote &lt;= #{quote}</if>
            <if test="status!=null">and status=#{status}</if>
        </where>
    </select>

    <update id="updateById" parameterType="com.cn.wanxi.entity.technologysharing.TagEntity">
        update wx_tab_tag
        <set>
            <if test="name!=null">name=#{name}</if>
            <!--            <if test="create_time!=null">and create_time=#{create_time}</if>-->
            <if test="last_update_time!=null">last_update_time=#{last_update_time}</if>
            <!--            <if test="quote!=null">and quote &lt;= #{quote}</if>-->
            <if test="status!=null">status=#{status}</if>
        </set>
    </update>
</mapper>
