<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="Integer" type="java.lang.Integer"/>
        <typeAlias alias="Byte" type="java.lang.Byte"/>
        <typeAlias alias="BigDecimal" type="java.math.BigDecimal"/>
        <typeAlias alias="Long" type="java.lang.Long"/>
        <typeAlias alias="HashMap" type="java.util.HashMap"/>
        <typeAlias alias="LinkedHashMap" type="java.util.LinkedHashMap"/>
        <typeAlias alias="ArrayList" type="java.util.ArrayList"/>
        <typeAlias alias="LinkedList" type="java.util.LinkedList"/>
        <typeAlias alias="String" type="java.lang.String"/>
        <typeAlias alias="Date" type="java.util.Date"/>
        <typeAlias alias="WxTabMemberEntity" type="com.cn.wanxi.entity.projectrequirements.tables.WxTabMemberEntity"/>
        <typeAlias alias="WxTabProjectEntity" type="com.cn.wanxi.entity.projectrequirements.tables.WxTabProjectEntity"/>
        <typeAlias alias="WxTabTaskEntity" type="com.cn.wanxi.entity.projectrequirements.tables.WxTabTaskEntity"/>
        <typeAlias alias="WxTabRequirementEntity"
                   type="com.cn.wanxi.entity.projectrequirements.tables.WxTabRequirementEntity"/>
        <typeAlias alias="WxTabTeamEntity" type="com.cn.wanxi.entity.projectrequirements.tables.WxTabTeamEntity"/>
        <typeAlias alias="WxTabPeriodEntity" type="com.cn.wanxi.entity.projectrequirements.tables.WxTabPeriodEntity"/>
        <typeAlias alias="WxTabDailyEntity" type="com.cn.wanxi.entity.projectrequirements.tables.WxTabDailyEntity"/>
        <typeAlias alias="WxTabWeeklyReportEntity"
                   type="com.cn.wanxi.entity.projectrequirements.tables.WxTabWeeklyReportEntity"/>
        <typeAlias alias="WxTabRoleEntity" type="com.cn.wanxi.entity.projectrequirements.tables.WxTabRoleEntity"/>
        <typeAlias alias="WxTabUserEntity" type="com.cn.wanxi.entity.projectrequirements.tables.WxTabUserEntity"/>
    </typeAliases>
</configuration>
